<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
      <ItemGroup>
        <PackageReference Include="MaterialDesignThemes" Version="4.0.0" />
        <PackageReference Include="MaterialDesignColors" Version="2.0.0" />
      </ItemGroup>

    </startup>
<connectionStrings><add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ngknn.ru;initial catalog=22v_Ivanov;persist security info=True;user id=22V;password=123;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>